{% load staticfiles %}

{% load bootstrap4 %}
{% load i18n %}

<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!--<link rel="stylesheet" href="{% static 'css/blog.css' %}"> !-->
<link rel="stylesheet" href="{% static 'css/company.css' %}" type='text/css'/> 
<link rel="stylesheet" href="{% static 'css/index_grid.css' %}" type='text/css'/> 
<link rel="stylesheet" href="{% static 'css/common_header.css' %}" type='text/css'/> 
<script src="{% static 'javascript/Countable.js' %}"></script>
<script src="{% static 'javascript/countable-field.js' %}"></script> 
<script src="{% static 'javascript/HandleFileSelect.js' %}"></script> 
<script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
</head>

<div>
<div id="base-container">
	<div class="common-header-container">
		
		<div id="header-user">
			{% if request.user.is_authenticated %}
			    
			    <p>{% trans "Logged as" %}
			    <a href="{% url 'rss_feed:detail_user' request.user.id%}"><b> {{ request.user.username }}</b></a>  
			    <img src="{{ request.user.userprofile.avatar.path.url }}" width='30'>
			    <a href="{% url 'logout'%}"><b>{% trans "Log out" %}</b></a>.</p>
			   
				
			{% else %}
			    <p>
			    	{% trans "Welcome, please" %} <a href="{% url 'login'%}"><strong> {% trans "log in" %} </strong>
			    	</a> {% trans "or" %} <a href="{% url 'signup'%}"><strong>{% trans "sign up" %}</strong></a>.
			    </p>
			{% endif %}
		</div>
	
		<div id="header-search">
			<form class="form-inline" action="" method="POST">
				{% csrf_token %}
				<input type="text" class="form-control" size="30" name="search"/>
			   	<input type="submit" class="btn btn-default" value="{% blocktrans %}Search{% endblocktrans %}" >
			</form>
		</div>
		
		<div id="header-lan">
			<form action="{% url 'set_language' %}" method="post">
				{% csrf_token %}
			    <input name="next" type="hidden" value="{{ redirect_to }}" />
			    <select name="language">
			    	{% get_current_language as LANGUAGE_CODE %}
			        {% get_available_languages as LANGUAGES %}
			        {% get_language_info_list for LANGUAGES as languages %}
			        {% for language in languages %}
			            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
			                {{ language.name_local }} ({{ language.code }})
			            </option>
			        {% endfor %}
			    </select>
			    <input type="submit" value="Go" />
			</form>
		</div>
	</div>	
	
	------------------------------------------
	<div class="base-block-content">
		{% block content %}
		{% endblock %}
	</div>
</div>
