{% load staticfiles %}
<!--  {% static 'static_jquery/js/jquery.js' %}-->
{% load bootstrap4 %}

<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!--<link rel="stylesheet" href="{% static 'css/blog.css' %}"> !-->
<link rel="stylesheet" href="{% static 'css/company.css' %}" type='text/css'/> 
<link rel="stylesheet" href="{% static 'css/index_grid.css' %}" type='text/css'/> 
<script src="{% static 'javascript/Countable.js' %}"></script>
<script src="{% static 'javascript/countable-field.js' %}"></script> 
<script src="{% static 'javascript/HandleFileSelect.js' %}"></script> 
</head>

{% block content %}
{% endblock %}