{% extends 'base.html' %}
{% load i18n %}
{% block content %} 

<h3>{% trans "Add New Content:" %}</h3>

<p><button type="button" onclick="asd(1)" id="add-program" 
	value="{% blocktrans %}Add New Program{% endblocktrans %}">{% trans "Add New Program" %}</button>
<button type="button" onclick="asd(2)" id="add-station" 
	value="{% blocktrans %}Add New Station{% endblocktrans %}">{% trans "Add New Station" %}</button></p>

{% if show_error %}
	<p style="color: red">{%trans "The entered data was not valid. Please, check it down." %}</p>
{% endif %}


<div id='addnc-link'>
	<p>{% trans "New Program:" %}</p>
	<form method="post" id='addnc_link_form' action="" enctype='multipart/form-data' >
		
		{% csrf_token %}
	   	{% for field in form_rss %}
	     	<p>
        	{{ field.label_tag }}<br>
        	{{ field }}
        	{% if field.help_text %}
          		<small style="color: grey">{{ field.help_text }}</small>
        	{% endif %}
        	{% if show_error %}
       			{% for error in field.errors %}
         			<p style="color: red">{{ error }}</p>
       			{% endfor %}
       		{% endif %}
	  		</p>
	  	{% endfor %}
	  	
		<button type="submit">{% trans "Send" %}</button> 
		<button type="button" onclick="asd(0)" id="cancel-add-link">{% trans "Cancel" %}</button>
	</form>
</div>



<div id='addnc-station'>
	<p>{% trans "New Station:" %}</p>
	<form method="post" id='addnc_station_form' action='' enctype='multipart/form-data' >
		
		{% csrf_token %}
	   	{% for field in form_station %}
	     	<p>
	     		{% if field.name == 'logo' or field.name == 'profile_img' %}
	     			
	     			{% if field.name == 'logo' %}
	     				<div class='station_logo'>
	     			{% else %}
	     				<div class='station_profile_img'>
	     			{% endif %}
     					
     						{{ field.label_tag }}<br>
     						{{ field }}
	     			
	    				</div>
	    		
	    		{% elif field.name == 'broadcasting_method' %}

	    			{{ field.label_tag }}<br>
		        	{{ field }}
	    		
	    		{% elif field.name == 'broadcasting_area' %}
	    			
	    			<div id='bc-area'>
	    				{{ field.label_tag }}<br>
		        		{{ field }}
	    			</div>
	    		
	    		{% elif field.name == 'broadcasting_frequency' %}
	    		
	    			<div id='bc-freq'>
	    				{{ field.label_tag }}<br>
		        		{{ field }}
	    			</div>
	    		
	    		
	     		{% else %}
		        	{{ field.label_tag }}<br>
		        	{{ field }}
		        	{% if field.help_text %}
		          		<small style="color: grey">{{ field.help_text }}</small>
		        	{% endif %}
		        	{% if show_error %}
	        			{% for error in field.errors %}
	          				<p style="color: red">{{ error }}</p>
	        			{% endfor %}
	        		{% endif %}
	     		{% endif %}
	  	</p>
	  	{% endfor %}
	   <button type="submit">{% trans "Send" %}</button> 
	   <button type="button" onclick="asd(0)" id="cancel-add-station">{% trans "Cancel" %}</button>
	</form>
</div>

<a href="{% url 'rss_feed:index'%}">{% trans "Back" %}</a>

<script type="text/javascript">


window.onload = function() {
	
	document.getElementById("addnc-link").style.display = "none";
	document.getElementById("addnc-station").style.display = "none";
};
	function asd(a) {
	if (a == 1) {
  		document.getElementById("addnc-link").style.display = "block";
  		document.getElementById("addnc-station").style.display = "none";
	} else if (a == 2) {
  			document.getElementById("addnc-link").style.display = "none";
  			document.getElementById("addnc-station").style.display = "block";
		}else {
  			document.getElementById("addnc-link").style.display = "none";
  			document.getElementById("addnc-station").style.display = "none";
		}
};
	
function bcMethodFilter(bcm_id) {
    var e = document.getElementById(bcm_id);
    var bc_method = e.options[e.selectedIndex].value;
   
    if (bc_method == "fm" || bc_method == "di" || bc_method == "tv") {
        document.getElementById("bc-area").style.display = "block";
        document.getElementById("bc-freq").style.display = "block";
    } else {
        document.getElementById("bc-area").style.display = "none";
        document.getElementById("bc-freq").style.display = "none";
    }
};  

    
</script>

{% endblock %}