{% extends 'base.html' %}
{% load i18n %}
{% block content %} 

<h3>Add New Content:</h3>

<div id='addnc_link'>
	<p>{% trans "New Program:" %}</p>
	<form method="post" action="" enctype='multipart/form-data' >
		
		{% csrf_token %}
	   	{% for field in form_rss %}
	     	<p>
        	{{ field.label_tag }}<br>
        	{{ field }}
        	{% if field.help_text %}
          		<small style="color: grey">{{ field.help_text }}</small>
        	{% endif %}
       		{% for error in field.errors %}
         			<p style="color: red">{{ error }}</p>
       		{% endfor %}
	  		</p>
	  	{% endfor %}
	  	
		<button type="submit">{% trans "Send" %}</button> <a href="{% url 'rss_feed:index'%}">{% trans "Cancel" %}</a>
	</form>
</div>



<div id='addnc_station'>
	<p>{% trans "New Station:" %}</p>
	<form method="post" action='' enctype='multipart/form-data' >
		
		{% csrf_token %}
	   	{% for field in form_station %}
	     	<p>
	     		{% if field.name == 'logo' or field.name == 'profile_img' %}
	     			
	     			{% if field.name == 'logo' %}
	     				<div class='station_logo'>
	     			{% else %}
	     				<div class='station_profile_img'>
	     			{% endif %}
     					
     						{{ field.label_tag }}<br>
     						{{ field }}
	     			
	    				</div>
	     		{% else %}
		        	{{ field.label_tag }}<br>
		        	{{ field }}
		        	{% if field.help_text %}
		          		<small style="color: grey">{{ field.help_text }}</small>
		        	{% endif %}
	        		{% for error in field.errors %}
	          			<p style="color: red">{{ error }}</p>
	        		{% endfor %}
	     		{% endif %}
	  	</p>
	  	{% endfor %}
	   <button type="submit">{% trans "Send" %}</button> <a href="{% url 'rss_feed:index'%}">{% trans "Cancel" %}</a>
	</form>
</div>

{% endblock %}