{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<h3>{{ station.name }} {% trans "management dashboard" %} </h3>

<div class="dashboard-sections">
<p><a href="{% url 'rss_feed:manage_station' station.id%}">{% trans "Broadcast management" %}</a><p>
<div class="selected-section">{% trans "Administration" %}</div>
</div>

<div id="new-admin-section">	
<h3>Add new Administrator</h3>
	<form method="post" class="form-inline" action="{% url 'rss_feed:add_admin' station.id station_class_id %}">
		{% csrf_token %}
		{{add_admin_form}}
		<input type="submit" value="{% blocktrans %}Add{% endblocktrans %}">
	</form>
</div>

<div id="edit-admin-section">
	
	<h3>{% trans "Current administrators:" %}</h3>
	<form method="post" class="form-inline" action="">		
			{% csrf_token %}
			<div id="delete-menu">
			<table class="delete-menu-table">
			<thead>
			<tr><th>{% trans "Select" %}</th><th></th><th>{% trans "User" %}</th><th>{% trans "Permissions" %}</th></tr>
			</thead>
    		<tbody>
    		{% if admin_list %}
	    		{%  for admin in admin_list %}
					<tr>	
						<td><input type="checkbox" id="cb-{{admin.id}}" value="{{admin.id}}" name="check-{{admin.id}}"></td>
						<td><img src="{{ admin.user.userprofile.avatar.path.url }}" width='40'> </td>
						<td>{{ admin.user.username }}</td> 
						<td>
						{% if admin.type == owner_permissions.0 %}
							{{owner_permissions.1}}
						{% else %}
							<select>
								{% for key, value in permissions_available.items %}
									{% if key == admin.type %}
										<option selected="selected" value="{{key}}">{{value}}</option>
									{% else %}
										<option selected="selected" value="{{key}}">{{value}}</option>
									{% endif %}
								{% endfor %}
							</select>
						{% endif %}
						</td> 
					</tr>
				{% endfor %}
			{% endif %}
			</tbody>
		</table>
		</div>
		<p>Block actions</p> 
		<input type="submit" name="adremove" value="{% blocktrans %}Remove{% endblocktrans %}">
		<input type="submit" name="adupdate" value="{% blocktrans %}Update{% endblocktrans %}">
	</form>
</div>




<script type="text/javascript">
    
    $(function(){
        $("input[type='checkbox']").on('change', function() {
            $(this).closest('tr').toggleClass("highlight", this.checked);
        });
    });

</script>

<p></p>
<p><a href="{% url 'rss_feed:detail_station' station.id%}">{% trans "Back" %}</a></p>
{% endblock %}