{% extends 'base.html' %}
{% load i18n %}
{% block content %}

{% trans "See more" as seemore %}

<h1> <img src="{{ program.image.path.url }}" width='100'> {% trans "Program:" %} {{ program.name }}</h1>

{% if request.user.is_authenticated %}
	<div id="subscribe-button">
	
		{% if is_subscriber %}
			 <form method="post" class="form-inline" action="{% url 'rss_feed:unsubscribe_program' program.id %}" >
	 			{% csrf_token %}
	 	 		<input type="submit" class="btn btn-default" value="{% blocktrans %}Unsubscribe{% endblocktrans %}">
	 		</form>
		{% else %}
	 		<form method="post" class="form-inline" action="{% url 'rss_feed:subscribe_program' program.id %}" >
	 			{% csrf_token %}
	 	 		<input type="submit" class="btn btn-default" value="{% blocktrans %}Subscribe{% endblocktrans %}" >
	 		</form>
	 	{% endif %}
	</div>
{% endif %}

<p><b>{% trans "Author:" %}</b> {{ program.author }}</p>
<p><b>{% trans "Added on:" %}</b> {{ program.creation_date }} <b> {% trans "by" %} </b> 
	
	{% if owner %}
		<a href="{% url 'rss_feed:detail_user' owner.id%}"><b>{{ owner.username }}</b></a></p>
	{% else%}
		{% trans "unknown" %}
	{% endif %}
	
<p><b>{% trans "Language:" %}</b> {{ program.language }} <b>{% trans "Rating:" %}</b> {{ program.rating }}% </p>

<p><b>{% trans "Categories:" %}</b> 
	{% for category in program.tag_set.all %}
		<a href="{% url 'rss_feed:unknown' %}"> {{ category }}</a> 
	{% endfor %}
</p>

<p><b>{% trans "Description:" %}</b> {{ program.description|safe }}</p>
<p><b>{% trans "Site:" %} </b><a href={{ program.original_site }}>{{ program.original_site }}</a></p>

<div  class="section-title" ><b>{% trans "Episodes" %}</b></div>
<div class="grid-container">

	{% if episode_short_list %}
	    {% for episode in episode_short_list %}
	        <div class="grid-item" >
	        	<a href="{% url 'rss_feed:detail_episode' episode.id %}">
	        	<img src="{{ episode.image.path.url }}" width='100'>
	        	<p>{{ episode.title }}</p></a>
	        	<p><a href="{% url 'rss_feed:detail_program' episode.program.id %}">{{ episode.program.name }}</a></p>
	        </div>
	    {% endfor %}
	    <a href="{% url 'rss_feed:unknown' %}" class="button">{{ seemore }}</a>
	{% else %}
	    <p>{% trans "No episodes" %}</p>
	{% endif %}

</div>

<div  class="section-title" ><b>{% trans "Broadcasted in:" %}</b></div>
<div class="grid-container">

	{% if related_stations %}
	    {% for station in related_stations %}
	        <div class="grid-item" >
	        	<a href="{% url 'rss_feed:detail_station' station.id %}">
	        	<img src="{{ station.logo.path.url }}" width='100'>
	        	<p>{{ station.name }}</p></a>
	        </div>
	    {% endfor %}
	    <a href="{% url 'rss_feed:unknown' %}" class="button">{{ seemore }}</a>
	{% else %}
	    <p>{% trans "No stations" %}</p>
	{% endif %}

</div>


<div  class="section-title" ><b>{% trans "Subscribers:" %}</b></div>
<div class="section">
	{% if subscribers %}
		{% for sub_user in subscribers %}
		    <div class="follower-item" >
		    	<p><a href="{% url 'rss_feed:detail_user' sub_user.id %}">
		    		<img src="{{ sub_user.userprofile.avatar.path.url }}" width='40'>{{ sub_user.username }}</a></p> 
		    </div>
		{% endfor %}
		<a href="{% url 'rss_feed:unknown' %}" class="button">{{ seemore }}</a>
	{% else %}
		<p>{% trans "No subscribers yet" %}</p>
	{% endif %}		
</div>

{% if request.user.is_authenticated %}
	{% if request.user.id == program.owner.id %}
		<a href="{% url 'rss_feed:edit_program' program.id %}">{% trans "Edit" %}</a> 
	{% endif %}
{% endif %}
  <a href="{% url 'rss_feed:index'%}">{% trans "Back" %}</a></p>
{% endblock %}

