{% extends 'base.html' %}
{% load i18n %}
{% block content %}

{% trans "See more" as seemore %}

<h3> <img src="{{ episode.program.image.path.url }}" width='50'> {% trans "Program:" %} 
	<a href="{% url 'rss_feed:detail_program' episode.program.id %}"> {{ episode.program.name }}</a></h3>
<h1> <img src="{{ episode.image.path.url }}" width='100'> {% trans "Episode:" %} {{ episode.title }}</h1>

{% if request.user.is_authenticated %}
	<div id="like-button">
	
		
		 <form method="post" class="form-inline" action="{% url 'rss_feed:vote_episode' episode.id 'lk'%}" >
 			{% csrf_token %}
 	 		<input type="submit" class="btn btn-default" value="{% blocktrans %}Like{% endblocktrans %}">
 		</form>
	
 		<form method="post" class="form-inline" action="{% url 'rss_feed:vote_episode' episode.id 'dl'%}" >
 			{% csrf_token %}
 	 		<input type="submit" class="btn btn-default" value="{% blocktrans %}Dislike{% endblocktrans %}" >
 		</form>
	 	
	</div>
{% endif %}

<p><b>{% trans "Likes:" %}</b> {{ upvotes }} 
	<b>{% trans "Dislikes:" %}</b> {{ downvotes}}
	<b>{% trans "Downloads:" %}</b> {{ episode.downloads }}</p>
<p><b>{% trans "Published on:" %}</b> {{ episode.publication_date }}</p>

<audio controls>
	<source src="{{ episode.file }}" type="{{ episode.file_type }}"/>
	{% trans "Your browser does not support the audio element." %}
</audio>

<p><b>{% trans "Categories:" %}</b> 
	{% for category in program.tag_set.all %}
		<a href="{% url 'rss_feed:unknown' %}"> {{ category }}</a> 
	{% endfor %}
</p>


<p><b>{% trans "Summary:" %}</b> {{ episode.summary }} </p>

<p><a href="{% url 'rss_feed:index'%}">{% trans "Back" %}</a></p>
{% endblock %}
