{% extends 'base.html' %}
{% load i18n %}
{% block content %}

{% trans "See more" as seemore %}

<h3> <img src="{{ episode.program.image.path.url }}" width='50'> {% trans "Program:" %} 
	<a href="{% url 'rss_feed:detail_program' episode.program.id %}"> {{ episode.program.name }}</a></h3>
<h1> <img src="{{ episode.image.path.url }}" width='100'> {% trans "Episode:" %} {{ episode.title }}</h1>

{% if request.user.is_authenticated %}
	<div id="like-buttons">
	
		{% if user_vote_type == like_type  %}
	
			<form method="post" class="form-inline" action="{% url 'rss_feed:vote_episode' episode.id neutral_type %}" >
	 			{% csrf_token %}
	 	 		<input type="submit" class="btn btn-success" value="{% blocktrans %}Liked{% endblocktrans %}">
	 		</form>
	 		<form method="post" class="form-inline" action="{% url 'rss_feed:vote_episode' episode.id dislike_type %}" >
	 			{% csrf_token %}
	 	 		<input type="submit" class="btn btn-default" value="{% blocktrans %}Dislike{% endblocktrans %}" >
	 		</form> 
	
		{% else %} {% if user_vote_type == dislike_type %}
	
			<form method="post" class="form-inline" action="{% url 'rss_feed:vote_episode' episode.id like_type %}" >
	 			{% csrf_token %}
	 	 		<input type="submit" class="btn btn-default" value="{% blocktrans %}Like{% endblocktrans %}">
	 		</form>
	 		<form method="post" class="form-inline" action="{% url 'rss_feed:vote_episode' episode.id neutral_type %}" >
	 			{% csrf_token %}
	 	 		<input type="submit" class="btn btn-failure" value="{% blocktrans %}Disliked{% endblocktrans %}" >
	 		</form> 
	
		{% else %}
	
			<form method="post" class="form-inline" action="{% url 'rss_feed:vote_episode' episode.id like_type %}" >
	 			{% csrf_token %}
	 	 		<input type="submit" class="btn btn-default" value="{% blocktrans %}Like{% endblocktrans %}">
	 		</form>
			
	 		<form method="post" class="form-inline" action="{% url 'rss_feed:vote_episode' episode.id dislike_type %}" >
	 			{% csrf_token %}
	 	 		<input type="submit" class="btn btn-default" value="{% blocktrans %}Dislike{% endblocktrans %}" >
	 		</form> 
	 	{% endif %}
	 	{% endif %}	

	</div>
{% endif %}

<b>{% trans "Likes:" %}</b> {{ upvotes }} 
<b>{% trans "Dislikes:" %}</b> {{ downvotes}}
<b>{% trans "Downloads:" %}</b> <span id="download_count"> {{ episode.downloads }} </span>

<p><b>{% trans "Published on:" %}</b> {{ episode.publication_date }}</p>

<audio controls id="player" data-epid="{{episode.id}}">
	<source src="{{ episode.file }}" type="{{ episode.file_type }}"/>
	{% trans "Your browser does not support the audio element." %}
</audio>

<button id="download" data-epid="{{episode.id}}" class="btn btn-primary" type="button">
Download
</button>


<p><b>{% trans "Categories:" %}</b> 
	{% for category in episode.tag_set.all %}
		<a href="{% url 'rss_feed:search_results' %}?tag={{category.name}}"> {{ category }}</a> 
	{% endfor %}
</p>

<p><b>{% trans "Summary:" %}</b> {{ episode.summary|safe }} </p>

<div class='comment-section'>

	{% if episode.comment_set.all %}
		<p><h3>{% trans "Comments:" %}</h3></p>

		{% for comment in comment_sorted_set %}
			<div class="single-comment">
				
				<p><b>{% trans "Comment:" %}</b></p>
				{% if comment.removed %}
					<p> {% trans "This comment was removed by the author" %} </p>
				{% else %}
					<a href="{% url 'rss_feed:detail_user' comment.user.id %}">
						<img src="{{ comment.user.userprofile.avatar.path.url }}" width='50'/> 
						{{comment.user.username}} </a> {% trans "at" %} {{comment.publication_date}}
				
					{% if request.user.is_authenticated %}
						{% if request.user.id == comment.user.id or user_is_admin %}
							<form method="post" class="form-inline" action="{% url 'rss_feed:delete_comment' episode.id comment.id %}" >
					 			{% csrf_token %}
					 	 		<input type="submit" class="btn btn-default" value="{% blocktrans %}Delete{% endblocktrans %}">
				 			</form>
			 			{% endif %}
			 		{% endif %}
			 		
			 		<p>{{comment.text}}<p>
			 	{% endif %}	
			</div>
		
		{% endfor %}
	
	{% else %}
		
		{% if comments_allowed %}
			<p><b>{% trans "No comments yet" %}</b></b></p>
		{% endif %}
	{% endif %}
	
	{% if request.user.is_authenticated %}
	
		{% if comments_allowed %}
	
			{% if comment_form %}
				
				<form method="post" action='' enctype='multipart/form-data' >
					<p><b>{% trans "Leave a comment" %}</b></p>
					{% csrf_token %}
					
					{% for field in comment_form %}
			        	{{ field }}
			        	{% if field.help_text %}
			          		<small style="color: grey">{{ field.help_text }}</small>
			        	{% endif %}
		        		{% for error in field.errors %}
		          			<p style="color: red">{{ error }}</p>
		        		{% endfor %}
					{% endfor %}
					<button type="submit">{% trans "Publish" %}</button> 
				</form>
				
			{% endif %}
			
		{% else %}
			{% trans "Comments for this program have been disabled." %} 		
		{% endif %}
	
	{% endif %}
	
		
</div>
<p><a href="{% url 'rss_feed:index'%}">{% trans "Back" %}</a></p>
{% endblock %}
