{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<h3>{{ station.name }} {% trans "management dashboard" %} </h3>

<div class="dashboard-sections">
<p><div class="selected-section">{% trans "Edit Profile" %}</a></div></p>
<p><a href="{% url 'rss_feed:manage_station' station.id%}">{% trans "Broadcast Management" %}</a></p>
<p><a href="{% url 'rss_feed:admin_station' station.id%}">{% trans "Administration" %}</a></p>
<p><a href="{% url 'rss_feed:predelete_station' station.id%}">{% trans "Delete Station" %}</a></p>
</div>

<div class="dashboard-view">
<h3>{% trans "Edit" %} {{ station.name }} {% trans "profile" %}</h3>

{% if form_station %}
	<form method="post" action='' enctype='multipart/form-data' >
	   	{% csrf_token %}
	   	{% for field in form_station %}
	     	<p>
	     		{% if field.name == 'logo' %}
	     		
	     			<div class='logo'>
	     		
	     				{{ field.label_tag }}<br>
	     				<p><img src="{{ station.logo.path.url }}" width='200'><p>
	     				{{ field }}
	     			
	    			</div>
	    		{% elif field.name == 'profile_img' %}
	    		
	     			<div class='profile_img'>
	     		
	     				{{ field.label_tag }}<br>
	     				<p><img src="{{ station.profile_img.path.url }}" width='400'><p>
	     				{{ field }}
	     			
	    			</div>
	    		
	    		{% elif field.name == 'broadcasting_method' %}

	    			{{ field.label_tag }}<br>
		        	{{ field }}
	    		
	    		{% elif field.name == 'broadcasting_area' %}
	    			
	    			<div id='bc-area'>
	    				{{ field.label_tag }}<br>
		        		{{ field }}
	    			</div>
	    		
	    		{% elif field.name == 'broadcasting_frequency' %}
	    		
	    			<div id='bc-freq'>
	    				{{ field.label_tag }}<br>
		        		{{ field }}
	    			</div>
	    		
	     		{% else %}
		        	{{ field.label_tag }}<br>
		        	{{ field }}
		        	{% if field.help_text %}
		          		<small style="color: grey">{{ field.help_text }}</small>
		        	{% endif %}
	        		{% for error in field.errors %}
	          			<p style="color: red">{{ error }}</p>
	        		{% endfor %}
	        	
	     		{% endif %}
	  	</p>
	  	{% endfor %}
	  	
	   <button type="submit">{% trans "Update" %}</button> 
	   <a href="{% url 'rss_feed:detail_station' station.id%}">  {% trans "Cancel" %}</a>
	   
	</form>  	
  
{% endif %}

</div>
<script type="text/javascript">
	window.onload = function() {
	
		bcMethodFilter('id_form_station-broadcasting_method');
	};
  	
    function bcMethodFilter(bcm_id) {
        var e = document.getElementById(bcm_id);
        var bc_method = e.options[e.selectedIndex].value;
       
        if (bc_method == "fm" || bc_method == "di" || bc_method == "tv") {
            document.getElementById("bc-area").style.display = "block";
            document.getElementById("bc-freq").style.display = "block";
        } else {
            document.getElementById("bc-area").style.display = "none";
            document.getElementById("bc-freq").style.display = "none";
        }
    };  

    
</script>
 
{% endblock %}
  	