{% extends 'base.html' %}
{% block content %}
<h3>Edit {{ user.username }} data:</h3>
  <form method="post" action='' enctype='multipart/form-data' >
    {% csrf_token %}
    {% for field in form %}
      <p>
      	{% if field.name == 'avatar'%}
      		
      		<div class='avatar'>
      		
      			{{ field.label_tag }}<br>
      			<p><img src="{{ user.userprofile.avatar.path.url }}" width='200'><p>
      			{{ field }}
      			
	    	</div>
      	{% else %}
	        {{ field.label_tag }}<br>
	        {{ field }}
	        {% if field.help_text %}
	          <small style="color: grey">{{ field.help_text }}</small>
	        {% endif %}
	        {% for error in field.errors %}
	          <p style="color: red">{{ error }}</p>
	        {% endfor %}
	     {% endif %}
	  </p>
    {% endfor %}
    <button type="submit">Actualizar</button> <a href="{% url 'rss_feed:detail_user' user.id%}">Cancelar</a></p>
  </form>
{% endblock %}