{% extends 'base.html' %}
{% block content %}
<h3>Edit {{ user.username }} data:</h3>
<form method="post" id="atbs-form" action='' enctype='multipart/form-data' >
   	{% csrf_token %}
   	{% for field in form_atb %}
     	<p>
     		{% if field.name == 'avatar'%}
     		
     			<div class='avatar'>
     		
     				{{ field.label_tag }}<br>
     				<p><img src="{{ user.userprofile.avatar.path.url }}" width='200'><p>
     				{{ field }}
     			
    		</div>
     		{% else %}
        	{{ field.label_tag }}<br>
        	{{ field }}
        	{% if field.help_text %}
          	<small style="color: grey">{{ field.help_text }}</small>
        	{% endif %}
        	{% for error in field.errors %}
          		<p style="color: red">{{ error }}</p>
        	{% endfor %}
     	{% endif %}
  	</p>
  	{% endfor %}
  	<div id="ignore-form">
		{{ form_ignore_p.ignore }}
		{{ password_show.auto_id }}
	</div>
	<p><button type="button" onclick="asd(1)" id="change-password" value="Change Password">Change Password</button></p>
	
	<div id="password-form" >
		<p><button type="button" onclick="asd(0)" id="cancel-change-password" value="Cancel Change Password">Cancel Password Change</button></p>
	   	{% for field in form_pass %}
	   		
	   		<p>
	   		{{ field.label_tag }}<br>
	        {{ field }}
	        {% if field.help_text %}
	          <small style="color: grey">{{ field.help_text }}</small>
	        {% endif %}
	        {% for error in field.errors %}
	          <p style="color: red">{{ error }}</p>
	        {% endfor %}
	   		</p>
		  
	   	{% endfor %}
	</div>
	<script type="text/javascript">
		window.onload = function() {
			document.getElementById("password-form").style.display = "none";
		};
	
	  	function asd(a) {
	    	if (a == 1) {
	      		document.getElementById("password-form").style.display = "block";
	      		document.getElementById('id_form_ignore_p-ignore').checked = false;
	      		document.getElementById('id_form_ignore_p-ignore').value = false;
	    	} else {
	      		document.getElementById("password-form").style.display = "none";
	      		document.getElementById('id_form_ignore_p-ignore').checked = true;
	      		document.getElementById('id_form_ignore_p-ignore').value = true;
	    	}
	  	}
	  	
	</script>
   <button type="submit">Actualizar</button> <a href="{% url 'rss_feed:detail_user' user.id%}">Cancelar</a>
</form>

{% endblock %}



