{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<h3>{{ program.name }} {% trans "management dashboard" %} </h3>

<div class="dashboard-sections">
<p><div class="selected-section">{% trans "Edit Profile" %}</div></p>
<p><a href="{% url 'rss_feed:manage_program' program.id %}">{% trans "Broadcast Management" %}</a></p>
<p><a href="{% url 'rss_feed:admin_station' program.id%}">{% trans "Administration" %}</a></p>
<p><a href="{% url 'rss_feed:predelete_station' program.id%}">{% trans "Delete Program" %}</a></p>
</div>

<div class="dashboard-view">
<h3>{% trans "Edit" %} {{ program.name }} {% trans "profile" %}</h3>

{% if form %}
	<form method="post" action='' enctype='multipart/form-data' >
	   	
	   	{% csrf_token %}
	   	
	   	{% for field in form %}
	   		<p><b>{{ field.label }}</b> {{ field }}</p>
	   	{% endfor %}
	   			
		<button type="submit">{% trans "Update" %}</button> 
		<a href="{% url 'rss_feed:detail_program' program.id%}">   {% trans "Cancel" %}</a>
	</form>
{% endif %}
</div>
{% endblock %}