{% extends 'base.html' %}
{% load i18n %}
{% block content %}

{% trans "Add New Content" as newcontent %}
{% trans "See more" as seemore %}

<div class="new-content">
{% if request.user.is_authenticated %}
	<a href="{% url 'rss_feed:add_content' %}" class="button" >{{ newcontent }}</a>
{% else %}
	<a href="{% url 'login' %}" class="button">{{ newcontent }}</a>
{% endif %}
</div>
<div class="index-container">
	<div class="left-side">
		
		{% if request.user.is_authenticated %}
			<div  class="section-title" id="station-title"><b>{% trans "Your subscriptions" %}</b></div>
			<div class="grid-container">
			
				{% if user_subs %}
			   
				    {% for episode in user_subs %}
				        <div class="grid-item" >
				        	<a href="{% url 'rss_feed:detail_episode' episode.id %}">
				        	<img src="{{ episode.image.path.url }}" width='100'>
				        	<p>{{ episode.title }}</p></a>
				        	<p><a href="{% url 'rss_feed:detail_program' episode.program.id %}">{{ episode.program.name }}</a></p>
				        </div>
				    {% endfor %}
				{% else %}
				    <p>{% trans "No subscriptions" %}</p>
				{% endif %}
			
			</div>
			<span class="step-links">
				{% if user_subs.has_previous %}
			        <a href="?subs_page={{ user_subs.previous_page_number }}&p_page={{ program_list.number }}&ep_page={{ episode_list.number}}&s_page={{ station_list.number }}&us_page={{ user_stations.number }}">
			        {% trans "previous" %}</a>
			    {% endif %}
			    {% if user_subs.has_next %}
			        <a href="?subs_page={{ user_subs.next_page_number }}&p_page={{ program_list.number }}&ep_page={{ episode_list.number }}&s_page={{ station_list.number }}&us_page={{ user_stations.number }}">
			        {% trans "next" %}</a>
			    {% endif %}
	 		</span>
			
		
		{% endif %}
	
		<div  class="section-title" id="station-title"><b>{% trans "Latest episodes" %}</b></div>
		<div class="grid-container">
			
			{% if episode_list %}
			   
			    {% for episode in episode_list %}
			        <div class="grid-item" >
			        	<a href="{% url 'rss_feed:detail_episode' episode.id %}">
			        	<img src="{{ episode.image.path.url }}" width='100'>
			        	<p>{{ episode.title }}</p></a>
			        	<p><a href="{% url 'rss_feed:detail_program' episode.program.id %}">{{ episode.program.name }}</a></p>
			        </div>
			    {% endfor %}
			{% else %}
			    <p>{% trans "No episodes found" %}</p>
			{% endif %}
		
		</div>
		<span class="step-links">
			{% if episode_list.has_previous %}
		        <a href="?ep_page={{ episode_list.previous_page_number }}&p_page={{ program_list.number }}&subs_page={{ user_subs.number }}&s_page={{ station_list.number }}&us_page={{ user_stations.number }}">
		        {% trans "previous" %}</a>
		    {% endif %}
		    {% if episode_list.has_next %}
		        <a href="?ep_page={{ episode_list.next_page_number }}&p_page={{ program_list.number }}&subs_page={{ user_subs.number }}&s_page={{ station_list.number }}&us_page={{ user_stations.number }}">
		        {% trans "next" %}</a>
		    {% endif %}
 		 </span>
		
		<div class="section-title" id="program-title"><b>{% trans "Popular programs" %}</b></div>
		
		<div class="grid-container">
		
			{% if program_list %}
			   
			    {% for program in program_list %}
			        <div class="grid-item" >
			        	<a href="{% url 'rss_feed:detail_program' program.id %}">
			        	<img src="{{ program.image.path.url }}" width='100'>
			        	<p>{{ program.name }}</p></a>
			        </div>
			    {% endfor %}
			{% else %}
			    <p>{% trans "No programs found" %}</p>
			{% endif %}
		</div>
		<span class="step-links">
		{% if program_list.has_previous %}
	        <a href="?p_page={{ program_list.previous_page_number }}&ep_page={{ episode_list.number }}&subs_page={{ user_subs.number }}&s_page={{ station_list.number }}&us_page={{ user_stations.number }}">
	        {% trans "previous" %}</a>
	    {% endif %}
	    {% if program_list.has_next %}
	        <a href="?p_page={{ program_list.next_page_number }}&ep_page={{ episode_list.number }}&subs_page={{ user_subs.number }}&s_page={{ station_list.number }}&us_page={{ user_stations.number }}">
	        {% trans "next" %}</a>
	    {% endif %}
	 </span>   
	</div>
	<div class="right-side">
		{% if request.user.is_authenticated %}
			<div id="station-title-auth"><b>{% trans "Your favourite stations" %}</b></div>
			<div class="vertical-grid-auth">
				{% if user_stations %}
			   	
				   {% for station in user_stations %}
				       <div class="station-item" >
				       	<img src="{{ station.logo.path.url }}" width='20'>
				       	<a href="{% url 'rss_feed:detail_station' station.id %}">{{ station.name }}</a>
				       </div>
				   {% endfor %}
				{% else %}
				    <p>{% trans "No favourite stations" %}</p>
				{% endif %}
			</div>
			<span class="step-links">
				{% if user_stations.has_previous %}
			        <a href="?subs_page={{ user_subs.number }}&p_page={{ program_list.number }}&ep_page={{ episode_list.number}}&s_page={{ station_list.number }}&us_page={{ user_stations.previous_page_number }}">
			        {% trans "previous" %}</a>
			    {% endif %}
			    {% if user_stations.has_next %}
			        <a href="?subs_page={{ user_subs.number }}&p_page={{ program_list.number }}&ep_page={{ episode_list.number }}&s_page={{ station_list.number }}&us_page={{ user_stations.next_page_number }}">
			        {% trans "next" %}</a>
			    {% endif %}
	 		</span>
			
		{% endif %}
	
		<div id="station-title"><b>{% trans "All Stations" %}</b></div>
		<div class="vertical-grid">
			{% if station_list %}
		   
			   {% for station in station_list %}
			       <div class="station-item" >
			       	<img src="{{ station.logo.path.url }}" width='20'>
			       	<a href="{% url 'rss_feed:detail_station' station.id %}">{{ station.name }}</a>
			       </div>
			   {% endfor %}
			    
			{% else %}
			    <p>{% trans "No stations found" %}</p>
			{% endif %}
		</div>
		<span class="step-links">
			{% if station_list.has_previous %}
		        <a href="?subs_page={{ user_subs.number }}&p_page={{ program_list.number }}&ep_page={{ episode_list.number}}&s_page={{ station_list.previous_page_number }}&us_page={{ user_stations.number }}">
		        {% trans "previous" %}</a>
		    {% endif %}
		    {% if station_list.has_next %}
		        <a href="?subs_page={{ user_subs.number }}&p_page={{ program_list.number }}&ep_page={{ episode_list.number }}&s_page={{ station_list.next_page_number }}&us_page={{ user_stations.number }}">
		        {% trans "next" %}</a>
		    {% endif %}
 		</span>
	</div>
</div>

{% endblock %}
