{% extends 'base.html' %}
{% block content %}
{% load i18n %}

{% trans "Add New Content" as newcontent %}
{% if request.user.is_authenticated %}
	<a href="{% url 'rss_feed:add_content' %}" class="button">{{ newcontent }}</a>
{% else %}
	<a href="{% url 'login' %}" class="button">{{ newcontent }}</a>
{% endif %}

<div class="index-container">
	<div class="left-side">
		<div  class="section-title" id="station-title"><b>{% trans "Latest episodes" %}</b></div>
		<div class="grid-container">
			
			{% if episode_list %}
			   
			    {% for episode in episode_list %}
			        <div class="grid-item" >
			        	<img src="{{ episode.image.path.url }}" width='100'>
			        	<p><a href="{% url 'rss_feed:detail_episode' episode.id %}">{{ episode.title }}</a></p>
			        	<p><a href="{% url 'rss_feed:detail_program' episode.program.id %}">{{ episode.program.name }}</a></p>
			        </div>
			    {% endfor %}
			    
			{% else %}
			    <p>{% trans "No episodes found" %}</p>
			{% endif %}
		
		</div>
		
		<div class="section-title" id="program-title"><b>{% trans "Popular programs" %}</b></div>
		
		<div class="grid-container">
		
			{% if program_list %}
			   
			    {% for program in program_list %}
			        <div class="grid-item" >
			        	<img src="{{ program.image.path.url }}" width='100'>
			        	<p><a href="{% url 'rss_feed:detail_program' program.id %}">{{ program.name }}</a></p>
			        </div>
			    {% endfor %}
			    
			{% else %}
			    <p>{% trans "No programs found" %}</p>
			{% endif %}
		</div>
	</div>
	<div class="right-side">
		<div id="station-title"><b>{% trans "Stations" %}</b></div>
		<div class="vertical-grid">
			{% if station_list %}
		   
			   {% for station in station_list %}
			       <div class="station-item" >
			       	<img src="{{ station.logo.path.url }}" width='20'>
			       	<a href="{% url 'rss_feed:detail_station' station.id %}">{{ station.name }}</a>
			       </div>
			   {% endfor %}
			    
			{% else %}
			    <p>{% trans "No stations found" %}</p>
			{% endif %}
		</div>
	</div>
</div>
	
{% endblock %}
