{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<h3>{{ station.name }} {% trans "management dashboard" %} </h3>

<div class="dashboard-sections">
<p><div class="selected-section">{% trans "Broadcast management" %}</div></p>
<p><a href="{% url 'rss_feed:admin_station' station.id%}">{% trans "Administration" %}</a></p>
<p><a href="{% url 'rss_feed:delete_station' station.id%}">{% trans "Delete Station" %}</a></p>
</div>


<div id="bc-programs">
	<h3>Add new program</h3>
	<form method="post" class="form-inline" action="{% url 'rss_feed:add_broadcast' station.id %}">
		{% csrf_token %}
		{{add_broadcast_form}}
		<input type="submit" value="{% blocktrans %}Add{% endblocktrans %}">
		{% if messages %}
			{% for message in messages%}
		   		{% if 'success' in message.tags and 'add' in message.extra_tags %} 
		   			<div class="success-messages">{{ message }}</div>
		   		{% endif %}
		    {% endfor %}
		{% endif %}
	</form>
	
	
	<h3>{% trans "Programs currently broadcasted" %}</h3>
	<form method="post" class="form-inline" action="{% url 'rss_feed:delete_broadcast' station.id %}">		
			{% csrf_token %}
			<div id="delete-menu">
			<table class="delete-menu-table">
			<thead>
			<tr><th>{% trans "Select" %}</th><th></th><th>{% trans "Program" %}</th><th>{% trans "Broadcast schedule" %}</th></tr>
			</thead>
    		<tbody>
    		{% if broadcast_list %}
	    		{%  for broadcast in broadcast_list %}
					<tr>	
						<td><input type="checkbox" id="cb-{{broadcast.id}}" value="{{broadcast.id}}" name="check-{{broadcast.id}}"></td>
						<td><img src="{{ broadcast.program.image.path.url }}" width='40'> </td>
						<td>{{ broadcast.program.name }}</td> 
						<td><input type="text" name="schedule-{{broadcast.id}}"	value="{{ broadcast.schedule_details }}"></td> 
					</tr>
				{% endfor %}
			{% endif %}
			</tbody>
		</table>
		</div>
		<p>Block actions</p> 
		<input type="submit" name="bcremove" value="{% blocktrans %}Delete{% endblocktrans %}">
		<input type="submit" name="bcupdate" value="{% blocktrans %}Update{% endblocktrans %}">
		{% if messages %}
			{% for message in messages%}
		   		{% if 'success' in message.tags and 'edit' in message.extra_tags %} 
		   			<div class="success-messages">{{ message }}</div>
		   		{% elif 'error' in message.tags and 'edit' in message.extra_tags %} 
		   			<div class="error-messages">{{ message }}</div>
		   		{% endif %}
		    {% endfor %}
		{% endif %}
	</form>
</div>

<script type="text/javascript">
    
    $(function(){
        $("input[type='checkbox']").on('change', function() {
            $(this).closest('tr').toggleClass("highlight", this.checked);
        });
    });

</script>


<p></p>
<p><a href="{% url 'rss_feed:detail_station' station.id%}">{% trans "Back" %}</a></p>
{% endblock %}


