{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<h3>{{ station.name }} {% trans "management dashboard" %} </h3>

<p><button type="button" onclick="asd(1)" id="add-program" 
	value="{% blocktrans %}Manage Broadcast{% endblocktrans %}">{% trans "Manage Broadcast" %}</button>
<button type="button" onclick="asd(2)" id="add-station" 
	value="{% blocktrans %}Administration{% endblocktrans %}">{% trans "Administration" %}</button></p>

<div id="bc-programs">
	<h3>Add new program</h3>
	<form method="post" class="form-inline" action="{% url 'rss_feed:add_broadcast' station.id %}">
		{% csrf_token %}
		{{add_broadcast_form}}
		<input type="submit" value="{% blocktrans %}Add{% endblocktrans %}">
	</form>
	
	
	<h3>Programs currently broadcasted</h3>
	<ul>
	{%  for broadcast in broadcast_list %}
	
		<p>
		<form method="post" class="form-inline" action="{% url 'rss_feed:delete_broadcast' station.id broadcast.program.id %}">
			{% csrf_token %}
			<img src="{{ broadcast.program.image.path.url }}" width='40'> {{ broadcast.program.name }} - 
			{{ broadcast.schedule_details }}
			<input type="submit" value="{% blocktrans %}Delete{% endblocktrans %}">
		</form>
		</p>
	{% endfor %}
	</ul>
	
</div>

<div id="adm-users">
 <p>Space for adm-users</p>
</div>

<script type="text/javascript">
	window.onload = function() {
	
		document.getElementById("bc-programs").style.display = "block";
		document.getElementById("adm-users").style.display = "none";

	};

  	function asd(a) {
    	if (a == 1) {
      		document.getElementById("bc-programs").style.display = "block";
      		document.getElementById("adm-users").style.display = "none";
    	} else if (a == 2) {
      			document.getElementById("bc-programs").style.display = "none";
      			document.getElementById("adm-users").style.display = "block";
    		}else {
      			document.getElementById("bc-programs").style.display = "none";
      			document.getElementById("adm-users").style.display = "none";
    		}
    };
    
	
    
</script>



<a href="{% url 'rss_feed:detail_station' station.id%}">{% trans "Back" %}</a>
{% endblock %}