/* Pattern styles */
.base-container {
  display: grid;
  width: 100%;
}

.base-block-content{
 	position: relative;
    top: 20px;
}

.common-header-container {
  background-color: #428bca;
  display: grid;
  grid-template-columns: [col1-start]20% [col2-start]30% [col3-start]auto [col4-start]auto;
}

.header-return-index{
	grid-column: col1-start;
 	padding: 20px;
}

.header-user{
	grid-column: col2-start;
 	padding: 20px;
}

.header-search{
	grid-column: col3-start;
 	padding: 20px;
}

.header-lan{
	grid-column: col4-start;
 	padding: 20px;
}

.header-link{
	color: white;
	font-weight: bold;
}



table {
  border-collapse: separate;
}

tbody {
    width: 200%;
    max-height:200px;
    overflow: auto;
}


.highlight td {background: LightBlue;}


td {
  padding: 0px 10px;
}

th {
  padding: 0px 10px;
}

.dashboard-sections {
	/* background-color: #ff9e2c; */
	position: absolute;
	left: 0px;
	width: 20%;
	margin-left: 10px;
}


.dashboard-view {
  /* background-color: #b6701e; */
  position: absolute;
  right: -25px;
  width: 80%;
}



.tag-cloud a.size-1 { font-size: 1.1em }
.tag-cloud a.size-2 { font-size: 1.2em }
.tag-cloud a.size-3 { font-size: 1.3em }
.tag-cloud a.size-4 { font-size: 1.4em }
.tag-cloud a.size-5 { font-size: 1.5em }
.tag-cloud a.size-6 { font-size: 1.6em }
.tag-cloud a.size-7 { font-size: 1.7em }
.tag-cloud a.size-8 { font-size: 1.8em }
.tag-cloud a.size-9 { font-size: 1.9em }
.tag-cloud a.size-10 { font-size: 2em }

