/* Pattern styles */
.base-container {
  display: grid;
  width: 100%;
}

.base-block-content{
 	position: relative;
    top: 20px;
}

.common-header-container {
  display: grid;
  grid-template-columns: [col1-start]20% [col2-start]30% [col3-start]auto [col4-start]auto;
}

.header-return-index{
	grid-column: col1-start;
 	padding: 20px;
}

.header-user{
	grid-column: col2-start;
 	padding: 20px;
}

.header-search{
	grid-column: col3-start;
 	padding: 20px;
}

.header-lan{
	grid-column: col4-start;
 	padding: 20px;
}


table {
  border-collapse: separate;
}

tbody {
    width: 200%;
    max-height:200px;
    overflow: auto;
}


.highlight td {background: LightBlue;}


td {
  padding: 0px 10px;
}

th {
  padding: 0px 10px;
}

.dashboard-sections {
	/* background-color: #ff9e2c; */
	position: absolute;
	left: 0px;
	width: 20%;
	margin-left: 10px;
}


.dashboard-view {
  /* background-color: #b6701e; */
  position: absolute;
  right: -25px;
  width: 80%;
}

