.input-header{
	grid-column: span 12;
}
 

/* Pattern styles */

@media only screen and (min-width: 700px) {
	
	
	.grid-item{
	 	border: 1px solid rgba(0, 0, 0, 0.8);
	 	text-align: center;
	 	padding: 20px;
 	}
 
	.grid-container{
	   	display: grid;
	   	grid-template-columns: [col1-start]1fr [col2-start]1fr [col3-start]1fr [col4-start]1fr ;
	   	grid-gap: 20px;
	}
	
	
	.index-container {
	  display: table;
	  width: 100%;
	}

	.left-side{
		/* background-color: #ff9e2c; */
		position: absolute;
		left: 0px;
		width: 75%;
		margin-left: 10px;
	}

	.right-side {
	  position: absolute;
	  right: -25px;
	  width: 25%;
	}

	.left-side-search{
		/* background-color: #ff9e2c; */
		position: absolute;
		left: 0px;
		width: 70%;
		margin-left: 10px;
	}
	
	.right-side-search {
	  /* background-color: #b6701e; */
	  position: absolute;
	  right: 0px;
	  width: 25%;
	  margin-right: 20px;
	}
		

}

@media only screen and (max-width: 700px) {
	
	
	.grid-item{
	 	border: 1px solid rgba(0, 0, 0, 0.8);
	 	text-align: center;
	 	padding: 5px;
	 }
	 
	.grid-container{
	   	display: grid;
	   	grid-template-columns: [col1-start]1fr [col2-start]1fr;
	   	grid-gap: 2px;
	}
	
	.vertical-grid {
	 	display: grid;
	   	grid-template-columns: auto auto;
	}
	
	.vertical-grid-auth {
	 	display: grid;
	   	grid-template-columns: auto auto;
	}

	.station-item{
	 	/*text-align: center;*/
	 	font-size: 15px;
	 	font-weight: bold;
	 }
	 
	 .new-content{
	 	 font-size: 20px;
	 	 font-weight: bold;
	 }
	 
	 .station-image{
	 	width: 250px;
	 	display: block;
    	margin-left: auto;
    	margin-right: auto;
	 }
	 
	 .station-image img {
    	width: 100%;
    	height: auto;
	 }


}










